<div class="container">
  <div class="user-details">
    <h3> My Skills </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Frameworks/Tools</h4>
      <i class="ddevicon-html5-plain-wordmark"></i>
      <i class="ddevicon-bootstrap-plain-wordmark colored"></i>
      <i class="ddevicon-sass-original colored"></i>
      <p>mysql, SQL Server, git, AWS EC2, AWS ML, Apache Spark, Hadoop</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="ddevicon-javascript-plain colored"></i>
      <i class="ddevicon-react-original-wordmark colored"></i>
      <i class="ddevicon-nodejs-plain-wordmark"></i>
      <p>Java, C, C++, Python</p>
    </div>
    <div class="four columns">
      <h4>Data Science and ML Libraries</h4>
      <i class="ddevicon-git-plain"></i>
      <i class="ddevicon-gulp-plain colored"></i>
      <i class="ddevicon-atom-original-wordmark"></i>
      <p>Pandas, NumPy, Scikit-learn, Keras, TensorFlow, OpenCV, SciPy, Matplotlib, Seaborn, NLTK</p>
    </div>
  </div>
</div>
