<div class="user-details">
  <h3> Featured Projects </h3>
</div>
<div class="row user-projects">
  <div class="six columns">
    <img alt="Loan Predictions" src="{{ "/assets/img/Loan2.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="six columns">
    <h3> Loan Prediction </h3>
    <ul>
      <li> Featuring: <em> <font color = 'red'>Data wrangling, Classification, Model Evaluation</font></em></li>
    </ul>
    <p>The client is a bank looking to predict default outcomes for new loans.
The client's business goal is to improve it's decision-making criteria for approving new loans.
Our model will predict an outcome of 1 for Fully Paid loans, and 0 for Charged Off loans.
      We will evaluate our model based on <font color = 'blue'> Accuracy </font> and <font color = 'blue'> Recall </font>, to measure the model's ability to identify the loans that will be Charged Off (Default)</p>
    <a class="project-link" href="https://github.com/nfolcini/Loan_Predictions/blob/master/Loan%20Predictions.html">Check it out</a>
  </div>
</div>
<div class="row user-projects">
  <div class="six columns">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
